$primary-color: #DCDCDC;
$base-font:'Raleway',
sans-serif,
16px;
body {
  background-color: $primary-color;
  font-family: $base-font;
  font-weight: 400;
}

input {
  min-width: 60%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  padding-top: 10px;
  font-family: $base-font;
  font-weight: 700;
  font-size: 16px;
  float: right;
}

textarea,
keygen,
select,
button {
  font-family: $base-font;
  color: green;
}

fieldset {
  margin-left: 1.25em;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  max-width: 50%;
  padding: .75em;
  background-color: #f0f0f0;
}

.ng-binding {
  padding: 1.25em;
}
